# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Flutter build artifacts
android/app/build/

# Flutter intermediate files
**/flutter_assets/
**/isolate_snapshot_data
**/kernel_blob.bin
**/vm_snapshot_data
**/compatible_screen_manifest/
**/compile_and_runtime_not_namespaced_r_class_jar/


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build/kotlin/
/android/app/google-services.json
lib/config/secrets.dart
